<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo | Search</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese" rel="stylesheet">
    <link href="ress.css" rel="stylesheet" type="text/css">
    <link href="common.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>TODOリスト</h1>
</header>
<section>
    <div class="search_box">
        <div class="content">
            <form method="post">
                <input type="text" name="word" />
                <input type="submit" value="検索" />
            </form>
        </div>
    </div>
</section>
</body>
</html>