<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo | Top</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese" rel="stylesheet">
    <link href="ress.css" rel="stylesheet" type="text/css">
    <link href="common.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1><a href="/">TODOリスト</a></h1>
        <p><a href="/search">検索</a></p>
    </header>
    <section>
        <div class="card">
            <h1>新しいTODOを作成する。</h1>
            <div class="content">
                <form method="post" action="/add" th:object="${todoForm}">
                    <p>TODO名: <input type="text" name="name" /></p>
                    <p>期限: <input type="date" name="deadline" /></p>
                    <input type="submit" value="TODOの追加" />
                </form>
            </div>
        </div>
    </section>
    <main>
        <th:block th:if="${!list.isEmpty()}">
            <div class="card" th:each="todo : ${list}">
                <p>[[${todo.name}]]</p>
                <p>期限: [[${formatter.format(todo.deadlineDate)}]]</p>
                <p>作成日: [[${formatter.format(todo.createDate)}]]</p>
                <th:block th:if="${todo.done}">
                    <p>Done</p>
                </th:block>
                <th:block th:if="${!todo.done}">
                    <p>not done</p>
                </th:block>
            </div>
        </th:block>
        <th:block th:if="${list.isEmpty()}">
            <span class="error">登録されたTODOはございません。</span>
        </th:block>
    </main>
</body>
</html>